.container {
  display: inline-block;
  margin: 50px;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/* img2クラスにpositionプロパティとtop,leftプロパティを指定 */
.img2 {
  position: absolute;
  top: 30px;
  left: 50px;
}

.imgT {
    margin: 30px 0 0 50px;

}